h1 {
  font-size: 2em;
  text-align: center;
  color: blue;
}
.container {
  user-select: none;
  outline: none;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.tile {
  background-color: rgba(219, 219, 219, 0.541);
  aspect-ratio: 1;
}

.tile-active {
  background-color: rgb(195, 195, 195);
  aspect-ratio: 1;
}

.tile-write-horizontal {
  background-color: rgb(98, 192, 11);
  aspect-ratio: 1;
}

.tile-write-vertical {
  background-color: rgb(11, 135, 192);
  aspect-ratio: 1;
}

.solution {
  background-color: rgb(192, 53, 11);
}

.solved {
  background-color: rgb(92, 192, 11);
}
.hand {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.hand .tile {
  user-select: none;
  line-height: 50px;
}
