/* ------------------------------------------------ VARIABLES */
:root {
  --gradient-main-background: linear-gradient(
    90deg,
    #1f2924 0%,
    #24322b 30%,
    #24322b 70%,
    #1f2924 100%
  );

  --color-main-dark-green: rgb(32, 45, 40);

  --color-2xletter-opaque: rgb(141, 184, 219);
  --color-2xletter-transparent: rgb(141, 184, 219, 0.25);
  --color-3xletter-opaque: rgb(69, 143, 211);
  --color-3xletter-transparent: rgb(69, 143, 211, 0.25);
  --color-2xword-opaque: rgb(220, 174, 83);
  --color-2xword-transparent: rgb(220, 174, 83, 0.25);
  --color-3xword-opaque: rgb(228, 91, 78);
  --color-3xword-transparent: rgb(228, 91, 78, 0.25);

  --color-empty-tile-fill: rgba(255, 255, 255, 0.02);
  --color-center-tile-fill: rgba(0, 0, 0, 0.15);
  --color-empty-and-enter-tile-border: rgba(255, 255, 255, 0.1);
  /* Center tile border uses same color as empty */

  --color-coords-normal: rgba(255, 255, 255, 0.25);
  --color-coords-highlight: rgba(255, 255, 255);

  --color-progress-bar-background: rgb(24, 30, 27);

  --tile-border-thickness: 0.05vh;
  --tile-border-radius: 10%;

  --dropshadow-transparent: drop-shadow(0 0 0.5vh #0000005f);
  --dropshadow-opaque: drop-shadow(0vh 0vh 0.2vh #000000);
}
/* jos animaatio muuttuu 331----- 250
/* ------------------------------------------------ GENERAL */
body {
  width: fit-content;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;

  background: var(--gradient-main-background);

  margin: 0;

  display: flex;
  justify-content: center;
}

#master-div {
  height: 100vh;
  display: flex;

  padding-left: 5vh;
  padding-right: 5vh;

  flex-direction: column;
  align-items: center;
}

/* ------------------------------------------------ ANIMATIONS */
/* cursor */
@keyframes blinker {
  50% {
    opacity: 0.1;
  }
}

@keyframes letter-appears {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.letter-appears-animation {
  animation: letter-appears 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes letter-disappears {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }
  15% {
    transform: scale(1.08);
    opacity: 1;
    filter: brightness(1) sepia(1) hue-rotate(70deg) saturate(250%);
  }
  30% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1) sepia(0) hue-rotate(70deg) saturate(250%);
  }
  95% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1) sepia(0) hue-rotate(70deg) saturate(250%);
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
.letter-disappears-animation {
  animation: letter-disappears 1.5s ease-out;
}

/* ------------------------------------------------ BOARD GRID */
/* coordinates */
.coords-xy {
  pointer-events: none;
  user-select: none;
}

#coords-x {
  position: absolute;
  top: 2.5vh;

  width: 80vh;
  height: 2vh;

  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 0.4vh;
}
.coord-character-x {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2vh;
  font-weight: normal;
  font-family: monospace;
  color: var(--color-coords-normal);
  transition: color 0.1s ease-out;
}
.coord-character-x.coord-highlighted {
  font-size: 1.5vh;
  font-weight: bold;
  color: var(--color-coords-highlight);
}

#coords-y {
  position: absolute;
  top: 5vh;

  width: 83.75vh;
  height: 80vh;

  display: grid;
  grid-template-rows: repeat(15, 1fr);
  gap: 0.4vh;
}
.coord-character-y {
  display: flex;
  justify-content: left;
  align-items: center;

  font-size: 1.2vh;
  font-weight: normal;
  font-family: monospace;
  color: var(--color-coords-normal);
  transition: color 0.1s ease-out;
}
.coord-character-y.coord-highlighted {
  font-size: 1.5vh;
  font-weight: bold;
  color: var(--color-coords-highlight);
}

/* board */
#base-grid-container {
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 0.4vh;
  padding-top: 5vh;
}

.base-tile {
  width: 100%;
  height: 100%;

  cursor: pointer;
}
.has-letter {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: #00000000 !important;
  border: none !important;
  filter: var(--dropshadow-opaque);
}
.base-tile-empty {
  box-sizing: border-box;
  border-radius: var(--tile-border-radius);

  background-color: var(--color-empty-tile-fill);
  border: var(--tile-border-thickness) solid
    var(--color-empty-and-enter-tile-border);
}
.base-tile-2x-letter {
  background-image: url("/graphics/tiles/2xkirj.png");
  border: var(--color-2xletter-opaque) solid var(--tile-border-thickness);
  border-radius: var(--tile-border-radius);
  box-sizing: border-box;
}
.base-tile-3x-letter {
  background-image: url("/graphics/tiles/3xkirj.png");
  border: var(--color-3xletter-opaque) solid var(--tile-border-thickness);
  border-radius: var(--tile-border-radius);
  box-sizing: border-box;
}
.base-tile-2x-word {
  background-image: url("/graphics/tiles/2xsana.png");
  border: var(--color-2xword-opaque) solid var(--tile-border-thickness);
  border-radius: var(--tile-border-radius);
  box-sizing: border-box;
}
.base-tile-3x-word {
  background-image: url("/graphics/tiles/3xsana.png");
  border: var(--color-3xword-opaque) solid var(--tile-border-thickness);
  border-radius: var(--tile-border-radius);
  box-sizing: border-box;
}
.base-tile-center {
  box-sizing: border-box;

  border-radius: var(--tile-border-radius);

  background-color: var(--color-center-tile-fill);
  border: var(--tile-border-thickness) solid
    var(--color-empty-and-enter-tile-border);
}

/* ------------------------------------------------ CURSOR */
#cursor {
  width: 4.96vh;
  height: 4.96vh;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 5vh;

  transform: translate(37.52vh, 37.52vh);

  cursor: pointer;
}

.cursor-inner {
  position: absolute;

  pointer-events: none;
}

#cursor-tag {
  height: 1.75vh;
  top: -2.5vh;

  filter: var(--dropshadow-transparent);
}

#cursor-arrow {
  height: 1.3vh;
  filter: var(--dropshadow-opaque);
}
.cursor-arrow-right {
  left: 5.9vh;
}
.cursor-arrow-down {
  top: 5.9vh;
  transform: rotate(90deg);
}

#cursor-border {
  width: 6vh;
  height: 6vh;

  filter: var(--dropshadow-opaque);

  z-index: 999;
}
.cursor-right {
  transform: rotate(0deg);
}
.cursor-down {
  transform: rotate(90deg);
}

#cursor-key {
  width: 3vh;
  height: 3vh;

  filter: var(--dropshadow-opaque);

  object-fit: contain;

  animation: blinker 1.5s linear infinite;
}

/* ------------------------------------------------ HAND */
#hand-container {
  height: 8vh;
  width: 70vh;

  margin-top: 2vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 7.8vh;
}

.hand-tile {
  width: 8vh;
}

#shuffle-button {
  position: relative;
  height: 8vh;
  width: 7vh;

  cursor: pointer;

  background-image: url("/graphics/shuffle_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  scale: 0.4;
  opacity: 0.7;
}

#shuffle-button:hover {
  opacity: 1;
  scale: 0.45;
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------------ SIDE-PANEL */
#points-and-bar-container {
  position: relative;

  width: 25vh;
  min-height: 30vh;
  height: fit-content;
  max-height: 80vh;

  top: 5vh;

  margin-left: 4vh;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.display-container {
  padding-bottom: 4vh;
}

.points-header {
  font-size: 1.5vh;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  font-family: Arial, Helvetica, sans-serif;
}

.points-points {
  margin-top: -1.6vh;
  margin-bottom: -1.6vh;

  font-size: 5vh;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.progress-bar-background {
  width: 100%;

  border-radius: 2vh;

  background-color: var(--color-progress-bar-background);
}

.progress-bar-bar {
  min-width: 2vh;
  max-width: 100%;

  border-radius: 2vh;
}

#progress-bar-points .progress-bar-bar {
  width: 6vh; /* PLACEHOLDER */
  background-color: var(--color-3xletter-opaque);
}

#progress-bar-words .progress-bar-bar {
  width: 8vh; /* PLACEHOLDER */
  background-color: var(--color-3xword-opaque);
}

.progress-bar {
  margin-top: -1.25vh;
}

.progress-bar span {
  margin-left: 0.75vh;
}

.progress-bar-text {
  font-size: 1.3vh;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.progress-bar-item {
  position: absolute;
  height: 2vh;
}
