#app-div {
  height: 100vh;
  display: flex;

  flex-direction: row;
}

@keyframes master-appear-animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hand-appear-animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.master {
  visibility: hidden !important;
  display: none;
}

#panel-t-parent {
  visibility: hidden;
  display: none;
}

#bottom-panel-container {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 500px) {
  .master-appear-animation {
    visibility: hidden;
    display: none;
  }

  #app-div {
    height: 100vh;
    display: flex;

    flex-direction: column;
  }

  #panel-t-parent {
    visibility: visible;
    display: block;
  }

  #bottom-panel-container {
    visibility: visible;
    display: block;
  }
}

.master-appear-animation {
  animation: 0.6s ease-out 0s 1 master-appear-animation;
}

.hand-appear-animation {
  animation: 0.6s ease-out 0s 1 master-appear-animation;
}
